{% extends 'home_page/admin/layout_admin.html.twig' %}

{% block title %}HomePage{% endblock %}

{% block content %}
    <h1>HomePage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ home_page.id }}</td>
            </tr>
            <tr>
                <th>SiteName</th>
                <td>{{ home_page.siteName }}</td>
            </tr>
            <tr>
                <th>Menu</th>
                <td>{{ home_page.menu ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Header</th>
                <td>{{ home_page.header ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Services</th>
                <td>{{ home_page.services ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Portofolio</th>
                <td>{{ home_page.portofolio ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Footer</th>
                <td>{{ home_page.footer ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CopyrightYear</th>
                <td>{{ home_page.copyrightYear ? home_page.copyrightYear|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CopyrightName</th>
                <td>{{ home_page.copyrightName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('home_page_index') }}">Retour à l'index</a>

    <a href="{{ path('home_page_edit', {'id': home_page.id}) }}">Editer</a>

    {{ include('home_page/admin/_delete_form.html.twig') }}
{% endblock %}
