{% extends 'home_page/admin/layout_admin.html.twig' %}

{% block title %}{{ parent() }}
  HomePage Index Admin
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js"></script>
{% endblock %}

{% block content %}
  <!-- Content -->

  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6">
      {% if homepage != null %}
        <a class="btn btn-success" href="{{ path('home_page_edit', {'id': homepage.id}) }}">{{ "Editeur"|trans }}</a>
      {% else %}
          <a class="btn btn-success" href="{{ path('home_page_new') }}">{{ "Editeur"|trans }}</a>
      {% endif %}
      </div>
      <div class="col-md-6">
        <a class="btn btn-dark btn-md" href="{{ path('home_page_index') }}">
          <i class="fas fa-home"></i>
          {{ "Site"|trans }}</a>
      </div>
    </div>
  </div>

{% endblock %}
